{% extends "base.html" %}

          {% block content %}

  		    <ul class="breadcrumb">
  		      <li><a href={% url 'block_list' %}>首页</a></li>
            <li>重置密码</li>
  		    </ul>

			<form method="POST" action="" >{% csrf_token %}
				<p><label for="id_old_password">旧密码:</label> <input id="id_old_password" name="old_password" type="password" /></p>
				<p><label for="id_new_password1">新密码:</label> <input id="id_new_password1" name="new_password1" type="password" />
				<span class="helptext">
					<ul>
						<li>你的密码不应该与其他的个人信息太过相似</li>
						<li>你的密码必须包含至少8个字符</li>
						<li>你的密码不应该是一个人们通常使用的密码</li>
						<li>你的密码不应该完全由数字组成</li>
					</ul>
				</span></p>
				<p><label for="id_new_password2">新密码确认:</label> <input id="id_new_password2" name="new_password2" type="password" /></p>
				<input type="submit" value="提交" />
			</form>

			{% endblock %}