<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
  	<title>Python 部落论坛</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>
  	<div class="container">
  	  <div class='row"'>
	    <div class="page-header">
	      <center><h1>Python 部落论坛</h1></center>
	    </div>
      </div>

	  <div class="row">
  	    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
  	    &nbsp;
  		</div>
		<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
	      {% for b in blocks %}
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a href={% url 'article_list' b.id %} style="font-size:18px;">{{ b.name }}</a>
		      <span class="pull-right">管理员：{{ b.admin.username }}</span>
		    </div>
		    <div class="panel-body">
		      {{ b.desc }}
		    </div>
		  </div>
	      {% endfor %}
	    </div>

  	    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
  	    &nbsp;
  	    </div>
	  </div>

    </div>

  </body>
</html>