{% extends "base.html" %}

          {% block content %}
          <div class=" col-md-8">
	      {% for b in blocks %}
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <a href={% url 'article_list' b.id %} style="font-size:18px;">{{ b.name }}</a>
		      <span class="pull-right">管理员：{{ b.admin.username }}</span>
		    </div>
		    <div class="panel-body">
		      {{ b.desc }}
		    </div>
		  </div>
		  
	      {% endfor %}
	      </div>

	      <div class="col-md-4">
	      {% if request.user %}
	      <p><a href={% url 'login' %}>退出</a>
	      {% else %}
  	      <a href={% url 'login' %}>登陆</a>
  	      {% endif %}
  	      </div>
   
          {% endblock %}