{% extends "base.html" %}

          {% block content %}
          
  		    <ul class="breadcrumb">
  		      <li><a href={% url 'block_list' %}>首页</a></li>
            <li>上传头像</li>
  		    </ul>
              
          <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
             <label>上传头像</label>
             <input name="avatar" type="file" />
            <br />
            <input type="submit" class="btn btn-primary" value="提交" />
          </form>
          
          {% endblock %}